@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ClassLibrary1.ViewModels.PoslovnicePregled

<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Akcija</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Listt)
        {
            <tr>
                <td>@row.Naziv</td>
                <td>@row.Adresa</td>
               
                <td> <a asp-controller="Poslovnicaa" asp-action="Dodaj" asp-route-id="null">Dodaj</a></td>
                <td> <a asp-controller="Poslovnicaa" asp-action="Uredi" asp-route-id="@row.PoslovnicaID">Uredi</a></td>
                <td> <a asp-controller="Poslovnicaa" asp-action="Izbrisi" asp-route-id="@row.PoslovnicaID">Izbrisi</a></td>
            </tr>
        }
    </tbody>
</table>